@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;

}

.container{
    max-width: 350px;
    margin: 0 auto;
}

.qr-code{
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    margin: 0 1rem;
}
.qr-code img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
}
p{
    font-size: 1rem;
    font-weight: 200;
}